#logo{
    width:100px;
    height: 100px;
}
p{
    font-size: 25px;
    color: cornflowerblue;
}
body{
    background-color: cornsilk;
}
.copy_right_footer{
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color:grey;
    line-height: 3;
    text-align: center;
}